# dist: trusty # KVM Setup

# For now only "linux" as it looks like docker
# is not available on "osx"
os:
  - linux

language: go

go:
  - "1.13.1"

env:
  - TEST_VERBOSE=1
  - GO111MODULE=on

script:
  - cd sharness
  - make

# For docker containers

sudo: required

services:
  - docker
